* {
    box-sizing: border-box;
}
.bb111 {
    background-color: #000000;
}
header {
    height: 130px;
    background-color:  #000000;
}
footer {
    height: 100px;
    background-color:  #000000;
}
.ss111 {
    background-color: #ffffff;
    border-radius: 15px;
}
.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #000000;
}
.table {
    background-color: #000000;
}
tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 1);
}
@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
    }
}
